.Shop {
    margin-top: 70px;
    position: relative;
}

.Shop-img{
    height: 500px;
    overflow: hidden;
    /* width: 100%; */

}

.Shop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 38%;
}

.Typemid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color:rgb(101, 1, 1);
}

.collec-item {
    margin-top: 250px;
    display:flex;
}

.img-box {
    flex:1 1 380px;
    height: 100%;
    width: 507px;
    overflow: hidden;
}


.img-box img {
    width: 100%;
    height: 100%;    
    object-fit: cover;
    display: block;
}



.text-orm h2{
  position: absolute;
  background-color: rgb(255, 238, 211) ;
  left: 18%;
  transform: translate(-50%, -800%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}


.text-ling h2{
  position: absolute;
  background-color: rgb(255, 238, 211) ;
  left: 50%;
  transform: translate(-50%, -800%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}


.text-char h2{
  position: absolute;
  background-color: rgb(255, 238, 211) ;
  left: 85%;
  transform: translate(-50%, -800%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

@media (max-width:768px) {
    .collec-item {
        display: flex;
        flex-direction: column;
    }
    .text-orm h2     {
        position: absolute;
        left: 18%;
        transform: translate(60%, -800%);

    }

    .text-ling h2 {
        position: absolute;
        left: 18%;
        transform: translate(20%, -800%);
    }

    .text-char h2 {
        position: absolute;
        left: 18%;
        transform: translate(65%, -700%);
    }

    .Shop-img {
        height: 200px;
    }

    .Shop-img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: 50% 38%;
    }
}

