.main-box {
    margin-top: 70px;
    font-family: 'MV Boli';
    text-align: center;
    color:#5a3720;
}

#contact-form {
    width: 45%;
    margin: 0 auto;
    font-family: "Segoe UI", sans-serif;
    color: #5a3720;
}


#contact-form .row {
    display: flex;
    gap: 20px; 
}

#contact-form .row > div {
    flex: 1; 
}


#contact-form input,
#contact-form textarea {
    width: 100%;
    height: 40px;
    padding: 12px 15px;
    margin-top: 8px;
    margin-bottom: 25px;
    border: 1px solid #d1c8c8;
    font-size: 14px;
    box-sizing: border-box; 
}

#contact-form textarea {
    height: 160px;
    resize: vertical;
}

#contact-form button {
    padding: 12px 28px;
    font-size: 16px;
    border: none;
    background: #e9deef;
    color: #5a3720;
    cursor: pointer;
    transition: 0.2s;
}


@media (max-width:768px) {
    #contact-form {
        width: 90%;
    }
}
