.shop-img {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 250px;
    position: relative;

}

.s-img1 {
    flex: 1;
}

.s-img2 {
    flex: 1;
}

.s-img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100%  30%;
}

.s-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100%  65%;
}


.box {
    position: absolute;
    background-color: black;
    width: 100%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}

.ticket-box {
    display: inline-flex;
    gap: 40px;
    animation: scroll 20s linear infinite;
}

.ticket-box span {
    white-space: nowrap;
    padding: 12px 30px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.Typemid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -230%);
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color:rgb(255, 250, 118);
}


.item {
    margin-top: 100px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    max-width:100%;
    height: 100%;
    gap: 10px;
    padding-right: 50px;
}




/* #products-list {
    padding-left: 50px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    max-width:100%;
    height: 100%;
    gap: 10px;
    padding-right: 50px;
} */

.p-items {
    margin-top: 80px;
}

.size-popup {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.size-popup-content {
  background: #FCFBFA;
  padding: 20px;
  width: 550px;
  height: 390px;
  position: relative;
  padding: 40px;
}

.close-size-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

#popup-sizes button {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 10%;
  height: 40px;
  padding: 8px 15px;
  border: 1px solid #6e3333dd;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 500;
  color: #815757;
  font-size: 15px;
}

#popup-sizes button.selected {
  background: none;
  color: #694242;
  border:3px solid rgb(114, 62, 62);
}

#popup-price {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;  
    font-family: 'Calisto MT';  
}


.type {
    color:#694242;
    font-family: 'Bahnschrift';
    margin-top: 10px;
}


.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

#add-cart {
    height: 50px;
    background-color: #E8DFED;
    border: none;
    color:rgb(114, 62, 62);
    font-weight: 550;
}

#buy-now {
    height: 50px;
    background-color:rgb(114, 62, 62);
    border: none;
    color:#E8DFED;
    font-weight: 550;
}

@media (max-width: 768px) {
    #popup-sizes button {
        width: 15%;
    }

    .s-img2 {
        display: none;
    }

    .s-img1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100%  40%;
    }

    .shop-img {
        height: 150px;
    }

    .Typemid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -850%);
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        color: rgb(255, 250, 118);
        width: 50%;
    }
    
}