.s-popup {
  display: none;
  position: absolute;
  background-color: #fff;
  padding-right: 60px;
  margin-top: 18px;
  font-size: 20px;
  
}


.popup a {
  display: block;
  margin: 8px 0;
  font-size: 12px;
  font-weight: 450;
  text-align: left;
  padding-left: 5px;
  line-height: 1.6;
  color:rgb(151, 124, 88);
  cursor: pointer;
  font-weight: 700px;

}


.popup a:hover {
    text-decoration: underline;
    text-decoration-color: #8b5e34;
    text-underline-offset: 2px;
    color:rgb(151, 124, 88);
}