body {
    background-color: #FCFBFA;
}
.term-con {
    margin-top: 70px;
}

h1 {
    color:#6D4B32;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}



 p {
    width: 50%;
    gap: 20px;
    margin-left: 25%;
    line-height: 30px;
    color: #6D4B32;
    font-family: 'cursive';
}

.note span {
    font-family: 'Comic Sans MS';
}

@media (max-width: 768px) {
    p {
        width: 100%;
        margin: 0;
        padding: 0px;
    }
    .term-con {
        padding :20px;
    }
}