.box {
  width: 300px;
  height: 200px;
  background-color: aqua;
  text-align: center;
}
.s-popup {
  display: none;
  position: absolute;
  background-color: #fff;
  /* padding-right: 60px;
  margin-top: 18px; */
  font-size: 20px;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  text-align: center;
}

#size-options button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

#size-options button.selected {
  background-color: black;
  color: white;
}