body {
    margin-top: 100px;
}


#otpInput {
    width: 30%;
    margin-left: 32%;
    /* text-align: center; */
    margin-top: 30px;
}


.btn  {
    background-color: #6D4B32;
    width: 5%;
    height: 38px;
    color:#E8DFED;
    border: none;
}


@media (max-width: 768px) {

    #otpInput {
        margin: 0;
        width: 70%;  
        margin-left: 60px;  
    }

    .verify {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .btn  {
        background-color: #6D4B32;
        margin-top: 10px;
        width: 20%;
        margin-left: 180px;  
        height: 38px;
        color:#E8DFED;
        border: none;
}
}